In [203]:
import pandas as pd
import matplotlib.pyplot as plt
import io
import glob
import os

In [67]:
path = r'C:/Users/evani/OneDrive/Documenten/Alette data/bijlagen'

In [84]:
def extract_columns(path):

    with open(path) as f:
        txt = f.read()

        marker1 = 'R.Time (min)	Intensity'
        marker2 = '[LC Chromatogram(Detector A-Ch2)]'
        txt2 = txt.split(marker1)
        txt2 = txt2[1].split(marker2)
        txt2 = txt2[0]

    return txt2

In [354]:
def read_txt(path):
    txt_files = glob.glob(path + "/*.txt")

    txt_list = []
    columns = ['R.Time (min)']

    for file in txt_files:
        txt_list.append(extract_columns(file))
        columns.append(os.path.basename(file).replace('.txt', ''))

    df_list = [pd.read_csv(io.StringIO(item), sep="\t", header=None) for item in txt_list]

    dfs = [df.set_index(0) for df in df_list]
    full_df = pd.concat(dfs, axis=1)
    full_df = full_df.reset_index()
    full_df[0] = full_df[0].replace(',', '.', regex=True).astype(float)
    full_df.columns = columns
    #full_df = full_df.set_index('R.Time (min)')
    return full_df

In [462]:
values = [(5, 40, 40), (60, 80, 10), (90, 95, 10)]

def add_gradient(df):
    df['Gradient'] = 0
    for i in range(len(values)):
        start_i = df.index[df['R.Time (min)'] == values[i][0]][0]
        end_i = df.index[df['R.Time (min)'] == values[i][1]][0]
        increm = values[i][2] / (end_i - start_i)
        for j in range(start_i, end_i + 1):
            df.loc[j, 'Gradient'] = df.loc[j-1, 'Gradient'] + increm
        if i < len(values) - 1:
            new_end = df.index[df['R.Time (min)'] == values[i+1][0]][0]
            sum = df['Gradient'].iloc[end_i]
            for x in range(end_i, new_end):
                df.loc[x, 'Gradient'] = values[i][2]

In [460]:
read_txt(path)

,R.Time (min),1205_Blanco_before NaKa02_Medium Gradient_Output,1205_Blanco_before_naka_01_Output,1205_NaKa_01_duplo_Output,1205_NaKa_01_Output,1205_NaKa_02_Duplo_Output,1205_NaKa_02_Output,1505_Blanco_before_nAKa_0-40-95_Output,1505_NaKa_0-40-95_duplo_Output,1505_NaKa_0-40-95_Output
0,0.00000,-2044.0,6839.0,-2200.0,-1494.0,-2546.0,-2281.0,9645.0,-695016,-693246
1,0.00833,-2044.0,6839.0,-2200.0,-1494.0,-2546.0,-2281.0,9645.0,-695016,-693246
2,0.01667,-2046.0,6901.0,-2199.0,-1498.0,-2546.0,-2278.0,9674.0,-695011,-693246
3,0.02500,-2046.0,6922.0,-2197.0,-1501.0,-2545.0,-2274.0,9693.0,-695006,-693250
4,0.03333,-2047.0,6904.0,-2197.0,-1502.0,-2544.0,-2272.0,9713.0,-695002,-693259
...,...,...,...,...,...,...,...,...,...,...
11638,96.98333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-695180,-695031
11639,96.99167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-695180,-695031
11640,97.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-695182,-695030
11641,97.00833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-695183,-695027
11642,97.01667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-695184,-695026

In [454]:
add_gradient(data)

In [459]:
data

,R.Time (min),1205_Blanco_before NaKa02_Medium Gradient_Output,1205_Blanco_before_naka_01_Output,1205_NaKa_01_duplo_Output,1205_NaKa_01_Output,1205_NaKa_02_Duplo_Output,1205_NaKa_02_Output,1505_Blanco_before_nAKa_0-40-95_Output,1505_NaKa_0-40-95_duplo_Output,1505_NaKa_0-40-95_Output,Gradient
0,0.00000,-2044.0,6839.0,-2200.0,-1494.0,-2546.0,-2281.0,9645.0,-695016,-693246,0.0
1,0.00833,-2044.0,6839.0,-2200.0,-1494.0,-2546.0,-2281.0,9645.0,-695016,-693246,0.0
2,0.01667,-2046.0,6901.0,-2199.0,-1498.0,-2546.0,-2278.0,9674.0,-695011,-693246,0.0
3,0.02500,-2046.0,6922.0,-2197.0,-1501.0,-2545.0,-2274.0,9693.0,-695006,-693250,0.0
4,0.03333,-2047.0,6904.0,-2197.0,-1502.0,-2544.0,-2272.0,9713.0,-695002,-693259,0.0
...,...,...,...,...,...,...,...,...,...,...,...
11638,96.98333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-695180,-695031,0.0
11639,96.99167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-695180,-695031,0.0
11640,97.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-695182,-695030,0.0
11641,97.00833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-695183,-695027,0.0
11642,97.01667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-695184,-695026,0.0

In [341]:
def plot_graphs(df, list):
    for i in list:
        df.iloc[:,i].plot()
    plt.legend(['aa'])